.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: var(--espacamento);
}

.cabecalho__titulo {
    background-color: var(--altColor);
    padding: var(--espacamento);
    box-shadow: 0 0 var(--espacamento);
}

.cabecalho__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--espacamento);
}

.cabecalho__menu__item {
    flex: 1;
    padding: var(--espacamento);
    background-color: var(--altColor);
    color: var(--fontColor);
    cursor: pointer;
    box-shadow: 0 0 var(--espacamento);
}

.cabecalho__menu__item:hover {
    background-color: var(--hoverColor);
}

.principal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.principal__conteudo {
    flex: 1;
    height: 100%;
    background-color: var(--altColor);
    box-shadow: 0 0 var(--espacamento);
}

.principal__conteudo__texto {
    padding: var(--espacamento);
    text-align: justify;
}

.rodape {
    padding: var(--espacamento);
    background-color: var(--altColor);
    box-shadow: 0 0 var(--espacamento);
}