<div class="container">
    <table class="table" *ngIf="lista.length; else listaVazia">
        <thead>
            <tr>
                <th class="col-6">
                    <button class="btn btn-dark w-100" (click)="ordenarPorNome(true)">A - Z</button>
                </th>
                <th class="col-6">
                    <button class="btn btn-dark w-100" (click)="ordenarPorNome(false)">Z - A</button>
                </th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            <tr *ngFor="let item of lista">
                <td colspan="2">
                    <div class="d-flex">
                        <button class="btn btn-dark" (click)="editarItem(item)">
                            <i class="bi bi-pencil"></i>
                        </button>
                        <div class="flex-fill d-flex align-items-center justify-content-center">{{item.nome}}</div>
                        <button class="btn btn-dark" (click)="apagarItem(item)">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #listaVazia>
        <div class="text-center p-3">
            <p>Não há nenhum item na lista ainda</p>
        </div>
    </ng-template>
</div>