.linha {
    flex: 1;
    display: flex;
    gap: var(--espacamento);
}

.celula {
    flex: 1;
    cursor: pointer;
    font-weight: bold;
    background-color: var(--altColor);
    padding: var(--espacamento);
    box-shadow: 0 0 var(--espacamento);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imagem {
    max-height: 1rem;
    max-width: 1rem;
}

.texto {
    flex: 1;
}