.linha {
    flex: 1;
    display: flex;
    gap: var(--espacamento);
}

.celula,
.celula-x {
    flex: 1;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    background-color: var(--altColor);
    padding: var(--espacamento);
    box-shadow: 0 0 var(--espacamento);
}

.celula-x {
    display: flex;
    align-items: center;
    justify-content: space-between;
}