<section class="principal">
    <form class="formulario" [formGroup]="formulario" (ngSubmit)="salvarItem()">
        <label class="formulario__item" for="nome">Produto:</label>
        <input class="formulario__item input" type="text" id="nome" formControlName="nome">
        <label class="formulario__item" for="qt">Quantidade inicial:
        </label>
        <input class="formulario__item input" type="number" id="qt" formControlName="qt">
        <label class="formulario__item" for="md">Medida:
        </label>
        <select class="formulario__item input" id="md" formControlName="md">
            <option value="un">un</option>
            <option value="kg">kg</option>
            <option value="cx">cx</option>
            <option value="lt">lt</option>
            <option value="pct">pct</option>
        </select>
        <input class="formulario__item submit" type="submit" name="sub">
    </form>
</section>