:root {
    --backColor: #CCCCCC;
    --fontColor: #222222;
    --altColor: #BBAA99;
    --hoverColor: #677D6A;
    --cor1: #808D7C;
    --cor2: #C9DABF;
    --cor3: #9CA986;
    --cor4: #5F6F65;
    --espacamento: 0.5rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    color: var(--fontColor);
    background-color: var(--backColor);
}