:root {
    --backColor: #CCCCCC;
    --fontColor: #222222;
    --altColor: #BBAA99;
    --hoverColor: #677D6A;
    --espacamento: 0.5rem;
    --cores-dancantes: rgb(76, 217, 105), rgb(52, 170, 220), rgb(88, 86, 217),
        rgb(255, 45, 83);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    color: var(--fontColor);
    background-color: var(--backColor);
}